
:root {
  /* --color-white-100: hsl(206, 5%, 98%);
  --color-white-200: hsl(206, 5%, 90%);
  --color-white-300: hsl(206, 5%, 80%);
  --color-white-400: hsl(206, 5%, 65%);
  --color-white-500: hsl(206, 5%, 50%);
  --color-white-600: hsl(206, 5%, 35%);
  --color-black-100: hsl(213, 20%, 9%);
  --color-black-200: hsl(213, 23%, 8%);
  --color-black-300: hsl(214, 21%, 6%);
  --color-black-400: hsl(210, 21%, 6%);
  --color-black-500: hsl(216, 22%, 4%);
  --color-black-600: hsl(220, 18%, 3%);
  --color-black-700: hsl(220, 27%, 2%);
  --color-black-800: hsl(180, 20%, 1%);
  --color-blue-100: hsl(214, 95%, 93%);
  --color-blue-200: hsl(213, 97%, 87%);
  --color-blue-300: hsl(212, 96%, 78%);
  --color-blue-400: hsl(213, 94%, 68%);
  --color-blue-500: hsl(217, 91%, 60%);
  --color-blue-600: hsl(221, 83%, 53%);
  --color-blue-700: hsl(224, 76%, 48%);
  --color-blue-800: hsl(226, 71%, 40%);
  --color-blue-900: hsl(224, 64%, 33%); */
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
     0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
     0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
     0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 100%;
  box-sizing: inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: clamp(1rem, 2vw, 1.125rem);
  font-weight: 400;
  line-height: 1.5;
  height: -webkit-fill-available;
  color: var(--color-white-100);
  background-color: var(--color-black-500);
}

main {
  overflow: hidden;
  /* background: #222; */
}

a,
button {
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  box-shadow: none;
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}


/* Button  */



.button-holder .btn {
    font-size:20px;
    font-weight: 400;
    padding: 10px 30px;
    background: #fff;
    border: 1px solid transparent;
    position: relative;
    z-index: 3;
    /* margin-left: 10px;
    margin-right: 10px; */
    -webkit-box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .4s;
    transition: all .4s;
    border-radius: 8px;
    cursor: pointer;
    outline: none !important;
    overflow: hidden;
}

.button-holder .btn span {
    color: #fff;
    position: relative;
    z-index: 2;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.button-holder .btn:before,
.button-holder .btn:after {
    content: '';
    width: 0;
    height: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
    z-index: 1;
    opacity: .4;
}

.button-holder .btn:after {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    background: #fff;
    opacity: 1;
}

.button-holder .btn:hover:before,
.button-holder .btn:hover:after {
    width: 100%;
}

.button-holder .btn:hover:after {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

.button-holder .btn:hover span {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

.button-holder .btn1 {
    margin-bottom: 20px;
}

/* .button-holder .btn {
    margin-top: 20px;
} */

.button-holder .mgs-btn1 {
    background: #ff9f1a;
    color: #fff;
    border:none;
}

.button-holder .mgs-btn1:hover span {
    color: #ff9f1a;
}



/* Banner Section  */

.section {
  margin: 0 auto;
  padding: 6rem 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
background: beige;
}

.container {
  max-width: 75rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.centered {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1rem;
}

.heading-xl {
  font-family: inherit;
  font-size: clamp(2.648rem, 6vw, 4.241rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
}

.company-name{
    color:#ff9f1a!important;
}
.heading-lg {
  font-family: inherit;
  font-size: clamp(2.179rem, 5vw, 3.176rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
}
.heading-md {
  font-family: inherit;
  font-size: clamp(1.794rem, 4vw, 2.379rem);
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
}
.heading-sm {
  font-family: inherit;
  font-size: clamp(1.476rem, 3vw, 1.782rem);
  font-weight: 600;
  line-height: 1.5;
}
.heading-xs {
  font-family: inherit;
  font-size: clamp(1.215rem, 2vw, 1.335rem);
  font-weight: 500;
  line-height: 1.5;
}

.paragraph {
  font-family: inherit;
  font-size: clamp(1rem, 2vw, 1.125rem);
  line-height: inherit;
  max-width: 85%;
  height: auto;
  text-transform: unset;
  color: var(--color-white-200);
}

.btn {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  text-transform: unset;
  transition: all 0.3s ease-in-out;
}
.btn-inline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.btn-darken {
  padding: 0.75rem 2rem;
  color: var(--color-white-100);
  background-color: var(--color-black-200);
  box-shadow: var(--shadow-medium);
}
.btn-neutral {
  padding: 0.75rem 2rem;
  color: var(--color-black-500);
  background-color: var(--color-white-100);
  box-shadow: var(--shadow-medium);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: auto;
  margin: 0 auto;
  transition: all 0.35s ease;
}
.header.on-scroll {
  background:#ffffff;
  box-shadow: var(--shadow-medium);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  width: 100%;
  height: 4.25rem;
  margin: 0 auto;
}

.brand {
  font-family: inherit;
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -1px;
  color:#ff9f1a;
  /* text-transform: uppercase; */
}

.menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 4rem 0 3rem;
  overflow: hidden;
  background-color: var(--color-black-300);
  box-shadow: var(--shadow-medium);
  transition: all 0.4s ease-in-out;
}
.menu.is-active {
  top: 0;
  width: 100%;
  height: auto;
}
.menu-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.25rem;
  /* background: #fff; */
  /* padding-bottom:50px; */
}
.menu-link {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color:#222;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.menu-link:hover{
    color:#ff9f1a;
}
.menu-block {
  display: inline-block;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  text-align: center;
  margin-left: auto;
  padding: 0.65rem 1.5rem;
  border-radius: 3rem;
  text-transform: capitalize;
  color: var(--color-white);
  background-color: var(--color-blue-600);
  box-shadow: var(--shadow-medium);
  transition: all 0.3s ease-in-out;
}
@media only screen and (min-width: 48rem) {
  .menu {
    position: relative;
    top: 0;
    width: auto;
    height: auto;
    padding: 0rem;
    margin-left: auto;
    background: none;
    box-shadow: none;
  }
  .menu-inner {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    margin: 0 auto;
  }
  .menu-link {
    text-transform: capitalize;
  }
  .menu-block {
    margin-left: 2rem;
  }
}

.burger {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  order: -1;
  z-index: 10;
  width: 1.75rem;
  height: 1rem;
  border: none;
  outline: none;
  background: none;
  visibility: visible;
  transform: rotate(0deg);
  transition: 0.35s ease;
}
@media only screen and (min-width: 48rem) {
  .burger {
    display: none;
    visibility: hidden;
  }
}
.burger-line {
  position: absolute;
  display: block;
  right: 0;
  width: 100%;
  height: 2px;
  border: none;
  outline: none;
  opacity: 1;
  transform: rotate(0deg);
  background-color:#222;
  transition: 0.25s ease-in-out;
}
.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 0.5rem;
}
.burger-line:nth-child(3) {
  top: 1rem;
}
.burger.is-active .burger-line:nth-child(1) {
  top: 0.5rem;
  transform: rotate(135deg);
}
.burger.is-active .burger-line:nth-child(2) {
  right: -1.5rem;
  opacity: 0;
  visibility: hidden;
}
.burger.is-active .burger-line:nth-child(3) {
  top: 0.5rem;
  transform: rotate(-135deg);
}

.banner-column {
  position: relative;
  display: grid;
  align-items: center;
  row-gap: 3rem;
}
@media only screen and (min-width: 48rem) {
  .banner-column {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;
  }
}
@media only screen and (min-width: 64rem) {
  .banner-column {
    grid-template-columns: 1fr -webkit-max-content;
    grid-template-columns: 1fr max-content;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    margin-top: 3rem;
  }
}
.banner-image {
  display: block;
  max-width: 18rem;
  height: auto;
  margin-top: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  justify-self: center;
  animation: pulse 1s infinite ease-in-out alternate;
}

  @keyframes pulse {
    from { transform: scale(0.9); }
    to { transform: scale(1.2); }
  }
  
@media only screen and (min-width: 48rem) {
  .banner-image {
    order: 1;
    max-width: 20rem;
    height: auto;
  }
}
@media only screen and (min-width: 64rem) {
  .banner-image {
    max-width: 25rem;
    height: auto;
    margin-right: 5rem;
  }
}
.banner-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.75rem;
}
.banner-links {
  position: absolute;
  top: 30%;
  right: 1.5rem;
  display: grid;
  justify-items: center;
  row-gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
}
.banner-links a{
    font-size: 2rem;
    margin-bottom: 1.2rem;
}

.banner-links a:hover{
    color:#ff9f1a;
}
@media only screen and (min-width: 64rem) {
  .banner-links {
    opacity: 1;
    visibility: visible;
  }
}
.banner-links > * {
  font-size: 1.25rem;
  line-height: 1.25;
  color:#222;
}
.banner-links::before {
  position: absolute;
  content: "";
  top: -3rem;
  width: 4rem;
  height: 1.5px;
  transform: rotate(90deg);
  background: #222;
}
.banner-links::after {
  position: absolute;
  content: "";
  bottom: -3rem;
  width: 4rem;
  height: 2px;
  transform: rotate(90deg);
  background:#222;
}/*# sourceMappingURL=main.css.map */


/*
|----------------------------------------------------------------------------
	13. Service/ .service-section
|----------------------------------------------------------------------------
*/

.service-section {
    background: #fff;
    height: auto;
    padding: 100px 0;
}

.service-container {
    justify-content: center;
    margin-top: 30px;
    padding: 20px;
    border-radius: 15px;
}

.service-box {
    text-align: center;
    cursor: pointer;
}

.service-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #ff9f1a;
    color: #fff;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
}

.service-icon i {
    line-height: 60px;
    transform: rotate(-45deg);
    font-size: 26px;
}
.service-container .read {
    color: #ff9f1a;
    font-weight: 600;
    font-size:20px;
}

.service-container:hover .service-icon {
    background: #fff!important;
    color: #ff9f1a;
    transition: 0.8s ease all;
    transform: rotate(45deg);
}

.service-container:hover {
    transform: translateY(-20px);
    transition: 0.8s ease all;
    background: #ff9f1a;
    color: #fff;
}

.service-container:hover h4,
.service-container:hover p,
.service-container:hover .read {
    color: #fff;
}


/*
|----------------------------------------------------------------------------
	14. SUCCESS STORY/ #success-story
|----------------------------------------------------------------------------
*/

#success-story {
    background: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-title {
    color: #ff9f1a;
    margin: 0;
}

#success-story .counter-wrap {
    margin: 40px 0 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 20px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

#success-story .counter-icon {
    margin: 0 0 15px;
}

#success-story .counter-wrap .counter-icon i {
    color: #ff9f1a;
    border-radius: 5px;
    font-size: 32px;
    height: 64px;
    line-height: 64px;
    width: 64px;
}

#success-story .counter-wrap:hover i {
    background: #fff;
    color: #ff9f1a;
    transition: 0.8s ease all;
}

#success-story .counter-wrap:hover {
    transform: translateY(-20px);
    transition: 0.5s;
    background: #ff9f1a;
    border: none;
    color: #fff;
}

#success-story .counter {
    color: #222;
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
}

#success-story .counter-wrap:hover .counter-text .counter,
#success-story .counter-wrap:hover .counter-text p {
    color: #fff;
}

#success-story .counter-wrap p {
    color: #111;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
}

#success-story.light-bg {
    color: #000;
}

#success-story.light-bg .counter-wrap i {
    border: 2px solid #000;
    color: #000;
}

#success-story.light-bg .counter-wrap:hover i {
    color: #fff;
    transition: 0.5s;
}

#success-story.light-bg .counter {
    color: #000;
}

#success-story.light-bg .counter-wrap p {
    color: #000;
}
